{% extends "layout.html" %}

{% block title %}
Index User Tag Permission
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5>Index User Permission</h5>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-primary" href="{{ url_for('authentication_blueprint.create_permission_user_tag') }}">Create Permission User for Tag</a>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>    
                            <th>No.</th>
                            <th>Username</th>
                            <th>Permission</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }} </td>
                            <td>{{ user.list_tag_permission }} </td>
                            <td>
                                <a class="btn btn-secondary" href="{{ url_for('authentication_blueprint.edit_permission_user_tag', id_user=user.id) }}">Edit</a>| 
                                <form action="{{ url_for('authentication_blueprint.delete_permission_user_tag', id_user=user.id) }}" method="POST"><button class="btn btn-warning" type="submit">Delete</button></form>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                {% if prev_url %}
                    <a href="{{ prev_url }}">Previous Page</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">Next Page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}