{% from "helpers/_form.html" import render_field %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Management System</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        <form class="form-signin" method="POST">
                            <div class="form-label-group">
                                {{ render_field(form.username) }}
                            </div>

                            <div class="form-label-group">
                                {{ render_field(form.password) }}
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                {{ form.remember_me }}
                                <label class="custom-control-label" for="remember_me">Remember password</label>
                            </div>
                            {{ form.hidden_tag() }}
                            {{ form.submit }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>