{% extends "layout.html" %}

{% block title %}
Detail Document
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5>Detail Document</h5>
        <div class="container-fluid">
            <table class="table">
                <tr>
                    <td>Title</td>
                    <td>{{ document.title }}</td>
                </tr>
                <tr>
                    <td>Original File Name</td>
                    <td>{{ document.original_file_name }}</td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td>{{ document.tag_list }}</td>
                </tr>
                <tr>
                    <td>Uploaded Date</td>
                    <td>{{ document.created_at }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <object data="{{ url_for('static', filename='uploaded_dev/pdf/' + document.uploaded_file_name) }}" type="application/pdf" width="100%" height="1000px">
            <iframe src="{{ url_for('static', filename='uploaded_dev/pdf/' + document.uploaded_file_name) }} }}"></iframe>
        </object>
    </div>
</div>
{% endblock content %}