{% extends "layout.html" %}

{% block title %}
Edit Document
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-body">Edit Documents</h5>
            <div class="container-fluid">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group row">
                    <label for="titleDocument">Title</label>
                    <div class="col-sm-10">
                        {{ form.title(class_="form-control")}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Tags">Tags</label>
                    <div class="col-sm-10">
                        {{ form.tags(class_="form-control select2-tags")}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileDocument">File</label>
                    <div class="col-sm-10">
                        {{ form.uploaded_file(class_="form-control-fileclear")}}
                    </div>
                </div>
                <p>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2-tags').select2();
    });
</script>
{% endblock script %}