{% extends "layout.html" %}

{% block title %}
Index Document
{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body container-fluid">
        <h5>Index Documents</h5>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-primary" href="{{ url_for('document_blueprint.create_document') }}">Upload Document</a>
            </div>
            {% if current_user.role != 0 %}
                <div class="col-sm-6" align="right">
                    <a class="btn btn-primary" href="{{ url_for('document_blueprint.request_permission_document') }}">Request Permission</a>
                </div>
            {% endif %}
        </div> 
        <br>
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>    
                        <th>No.</th>
                        <th>Title</th>
                        <th>Original File Name</th>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ document.title }}</td>
                            <td>{{ document.original_file_name }}</td>
                            <td>{{ document.tag_list }}</td>
                            <td>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="{{ url_for('document_blueprint.edit_document', document_id=document.id) }}"><button class="btn btn-secondary">Edit</button></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="{{ url_for('document_blueprint.detail_document', document_id=document.id) }}"><button class="btn btn-secondary">Detail</button></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if prev_url %}
                <a href="{{ prev_url }}">Previous Page</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next Page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}