{% extends "layout.html" %}

{% block title %}
Index Permission Document
{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body container-fluid">
        <h5>Index Requested Permission</h5>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-primary" href="{{ url_for('document_blueprint.request_permission_document') }}">Request Permission</a>
            </div>
        </div> 
        <br>
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>    
                        <th>No.</th>
                        <th>Title</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permission in permissions %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ permission.document.title }}</td>
                            <td>{{ permission.reason }}</td>
                            {% if permission.status == 0 %}
                                <td>Pending</td>
                            {% elif permission.status == 1 %}
                                <td>Granted</td>
                            {% else %}
                                <td>Rejected</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if prev_url %}
                <a href="{{ prev_url }}">Previous Page</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next Page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}