{% extends "layout.html" %}

{% block title %}
Request Permission Document
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5>Request Permission Document</h5>
            <br>
            <div class="container-fluid">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="form-group row">
                        <label for="Document">Document</label>
                        <div class="col-sm-10">
                            {{ form.documents }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Reason">Reason</label>
                        <div class="col-sm-10">
                            {{ form.reason }}
                        </div>
                    </div>
                    <p>
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                    </p>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2-document').select2();
    });
</script>
{% endblock script %}