<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File PDF</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.uploaded_file }}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</body>
</html>