{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-body">Change Password</h5>
            <div class="container-fluid">
            <form action="" method="POST" enctype="multipart/form-data">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {{ form.csrf_token }}
                <div class="form-group row">
                    <label for="Password">Old Password</label>
                    <div class="col-sm-10">
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password">New Password</label>
                    <div class="col-sm-10">
                        {{ form.new_password }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password">Confirmed Password</label>
                    <div class="col-sm-10">
                        {{ form.confirmed_password }}
                    </div>
                </div>
                <p>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2-documents').select2();
    });
</script>
{% endblock script %}