{% extends "layout.html" %}

{% block title %}
Create User
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-body">Create User</h5>
            <div class="container-fluid">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group row">
                    <label for="titleDocument">Username</label>
                    <div class="col-sm-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Email">Email</label>
                    <div class="col-sm-10">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Full Name">Full Name</label>
                    <div class="col-sm-10">
                        {{ form.full_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Role">Role</label>
                    <div class="col-sm-10">
                        {{ form.role }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password">Password</label>
                    <div class="col-sm-10">
                        {{ form.password }}
                    </div>
                </div>
                <p>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2-role').select2();
    });
</script>
{% endblock script %}