{% extends "layout.html" %}

{% block title %}
Index User
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5>Index User</h5>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-primary" href="{{ url_for('authentication_blueprint.create_user') }}">Create User</a>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>    
                            <th>No.</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Role</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }} </td>
                            <td>{{ user.email }} </td>
                            <td>{{ user.full_name }} </td>
                            {% if user.role == 0 %}
                                <td>Admin</td>
                            {% else %}
                                <td>User</td>
                            {% endif %}
                            <td>{{ user.created_at }} </td>
                            <td>
                                <a class="btn btn-secondary" href="{{ url_for('authentication_blueprint.edit_user', id_user=user.id) }}">Edit</a>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                {% if prev_url %}
                    <a href="{{ prev_url }}">Previous Page</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">Next Page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}