{% extends "layout.html" %}

{% block title %}
Index Permission Document
{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body container-fluid">
        <h5>Index Requested Permission</h5>
        <br>
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>    
                        <th>No.</th>
                        <th>Username</th>
                        <th>Title</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permission in permissions %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ permission.user.username }}</td>
                            <td>{{ permission.document.title }}</td>
                            <td>{{ permission.reason }}</td>
                            {% if permission.status == 0 %}
                                <td>Pending</td>
                            {% elif permission.status == 1 %}
                                <td>Granted</td>
                            {% else %}
                                <td>Rejected</td>
                            {% endif %}
                            <td>
                                {% if permission.status == 0 %}
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <form action="{{ url_for('document_blueprint.response_permission') }}" method="POST">
                                                    <input type="text" name="id_request_permission" value="{{ permission.id }}" hidden>
                                                    <input type="text" name="id_user" value="{{ permission.id_user }}" hidden>
                                                    <input type="text" name="id_document" value="{{ permission.id_document }}" hidden>
                                                    <input type="text" name="id_status" value="1" hidden>
                                                    <button class="btn btn-warning" type="submit">Approve</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-6">
                                                <form action="{{ url_for('document_blueprint.response_permission') }}" method="POST">
                                                    <input type="text" name="id_request_permission" value="{{ permission.id }}" hidden>
                                                    <input type="text" name="id_user" value="{{ permission.id_user }}" hidden>
                                                    <input type="text" name="id_document" value="{{ permission.id_document }}" hidden>
                                                    <input type="text" name="id_status" value="3" hidden>
                                                    <button class="btn btn-warning" type="submit">Denied</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if prev_url %}
                <a href="{{ prev_url }}">Previous Page</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}">Next Page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}