{% extends "layout.html" %}

{% block title %}
Create Tag
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-body">Create Tags</h5>
            <div class="container-fluid">
                <form action="" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group row">
                        <label for="titleDocument">Name</label>
                        <div class="col-sm-10">
                            {{ form.name(class_="form-control")}}
                        </div>
                    </div>
                    <p>
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                    </p>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}