{% extends "layout.html" %}

{% block title %}
Index Tag
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5>Index Tags</h5>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-primary" href="{{ url_for('document_blueprint.create_tag') }}"> Create Tag</a>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>    
                            <th>No.</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ tag.name }} </td>
                            <td>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <a href="{{ url_for('document_blueprint.edit_tag', pk=tag.id) }}"><button class="btn btn-secondary">Edit</button></a>
                                        <form action="{{ url_for('document_blueprint.delete_tag', pk=tag.id) }}" method="POST"><button class="btn btn-warning" type="submit">Delete</button></form>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                {% if prev_url %}
                    <a href="{{ prev_url }}">Previous Page</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">Next Page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}