{% extends "layout.html" %}

{% block title %}
Create Permission User for Document
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-body">Create Permission User for Document</h5>
            <div class="container-fluid">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group row">
                    <label for="titleDocument">Username</label>
                    <div class="col-sm-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Documents">Documents</label>
                    <div class="col-sm-10">
                        {{ form.documents }}
                    </div>
                </div>
                <p>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                </p>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        $('.select2-documents').select2();
    });
</script>
{% endblock script %}