{% extends "layout.html" %}

{% block title %}
Index User Document Permission
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5>Index User Permission</h5>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-primary" href="{{ url_for('authentication_blueprint.create_permission_user_document') }}">Create Permission User for Document</a>
                </div>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>    
                            <th>No.</th>
                            <th>Username</th>
                            <th>Documents</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }} </td>
                            <td>{{ user.list_document_permission }} </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <a href="{{ url_for('authentication_blueprint.edit_permission_user_document', id_user=user.id) }}"><button class="btn btn-secondary">Edit</button></a>
                                    </div>
                                    <div class="col-sm-2">
                                        <form action="{{ url_for('authentication_blueprint.delete_permission_user_document', id_user=user.id) }}" method="POST"><button class="btn btn-warning" type="submit">Delete</button></form>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                {% if prev_url %}
                    <a href="{{ prev_url }}">Previous Page</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">Next Page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}