{% from "helpers/_form.html" import render_field %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" />

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Document Management System </div>
          <div class="list-group list-group-flush">
            <a href="{{ url_for('document_blueprint.index_document') }}" class="list-group-item list-group-item-action bg-light">Document</a>
            {% if current_user.role == 0 %}
              <a href="{{ url_for('document_blueprint.index_tag') }}" class="list-group-item list-group-item-action bg-light">Tag</a>
              <a href="{{ url_for('authentication_blueprint.index_permission_user_tag') }}" class="list-group-item list-group-item-action bg-light">Permission Tag</a>
              <a href="{{ url_for('authentication_blueprint.index_permission_user_document') }}" class="list-group-item list-group-item-action bg-light">Permission Document</a>
              <a href="{{ url_for('document_blueprint.index_admin_permission_document') }}" class="list-group-item list-group-item-action bg-light">Request Permission Document</a>
              <a href="{{ url_for('authentication_blueprint.index_user') }}" class="list-group-item list-group-item-action bg-light">User</a>
              <a href="{{ url_for('document_blueprint.report_request_permission') }}" class="list-group-item list-group-item-action bg-light">Report Request Permission Document</a>
            {% else %}
              <a href="{{ url_for('document_blueprint.index_list_permission') }}" class="list-group-item list-group-item-action bg-light">Request Permission</a>
            {% endif %}
            <a href="{{ url_for('authentication_blueprint.change_password', id_user=current_user.id) }}" class="list-group-item list-group-item-action bg-light">Change Password</a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Menu</button>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('authentication_blueprint.logout') }}">Logout</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    
          <div>
           {% block content %}
           {% endblock content %}
        </div>
        <!-- /#page-content-wrapper -->
    
    </div>
      <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

    {% block script %}
    {% endblock script %}
    
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>